<form [formGroup]="simulatorForm" (ngSubmit)="onSubmit()" class="d-flex flex-column gap-3">
  <div class="modal-body py-3">
    <div class="row g-3">
      
      <!-- Nombre Completo -->
      <div class="col-12">
        <label class="form-label small fw-semibold text-muted mb-1">Nombre completo</label>
        <input type="text" class="form-control py-2 rounded-3 shadow-none" formControlName="name" 
               [ngClass]="{'is-invalid': simulatorForm.get('name')?.invalid && simulatorForm.get('name')?.touched}"
               placeholder="Ej. Juan Pérez">
        
        @if (simulatorForm.get('name')?.touched) {
          @if (simulatorForm.get('name')?.hasError('required')) {
            <div class="invalid-feedback">El nombre completo es obligatorio.</div>
          }
          @if (simulatorForm.get('name')?.hasError('minlength')) {
            <div class="invalid-feedback">Debe tener al menos 5 caracteres.</div>
          }
          @if (simulatorForm.get('name')?.hasError('maxlength')) {
            <div class="invalid-feedback">No puede superar los 50 caracteres.</div>
          }
        }
      </div>

      <!-- Correo Electrónico -->
      <div class="col-12">
        <label class="form-label small fw-semibold text-muted mb-1">Correo Electrónico</label>
        <input type="email" class="form-control py-2 rounded-3 shadow-none" formControlName="email" 
               [ngClass]="{'is-invalid': simulatorForm.get('email')?.invalid && simulatorForm.get('email')?.touched}" 
               placeholder="correo@ejemplo.com">
        
        @if (simulatorForm.get('email')?.touched) {
          @if (simulatorForm.get('email')?.hasError('required')) {
            <div class="invalid-feedback">El correo es obligatorio.</div>
          }
          @if (simulatorForm.get('email')?.hasError('email')) {
            <div class="invalid-feedback">Ingresa un formato de correo válido.</div>
          }
          @if (simulatorForm.get('email')?.hasError('maxlength')) {
            <div class="invalid-feedback">Máximo 50 caracteres permitidos.</div>
          }
        }
      </div>

    </div>
  </div>

  <div class="modal-footer border-0 pt-0 pb-3 px-4">
    <button type="button" class="btn btn-light rounded-pill px-4 py-2" data-bs-dismiss="modal">Cancelar</button>
    <button type="submit" class="btn btn-orange rounded-pill px-4 py-2 d-inline-flex align-items-center justify-content-center">
      @if (isSubmitting()) {
        <span class="spinner-border spinner-border-sm me-2"></span> Guardando...
      } @else {
        Guardar
      }
    </button>
  </div>
</form>